
@media (max-width:500px){
    html{
        font-size: 80%;
    }
    .all-events{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .card{
            width: 300px;
        }
    }
}