.authBtn{
    margin: 0;
    height: 100%;
    padding: 10px 0;
    border-radius: 0;
    width: 50%;
    background-color: #ccc;
    border: 2px solid #ccc;
    border-right: 1px solid #888;
    outline: none;
    color: #444;
}

#exampleModal{

    .modal,.modal-dialog,.modal-content,.modal-header{
        border: none;
    }
    
    .modal-header{
        padding: 0;
    }
}

.logbtn{
    margin: 1rem 0;
}

.btn-secondary:focus{
    outline: 0 !important;
}

.btn-secondary:active{
    outline: 0 !important;
}


.navbar-brand{
    position: relative;
}
.logo-underline{
    height: 1rem;
    width: 5rem;
    // background-color: $yellow;
    border: solid 3px $yellow;
    border-radius: 50%;
    border-top: none;
    border-left: none;
    border-right: none;
    position: absolute;
    left: 2.5rem;
    top: 1.5rem;
    transform: rotateZ(-5deg);
}
