
.payment-section{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.payment-section .card{
    width: 50vw;
    border-top: 5px solid $success;
    button{
        margin: 0;
    }
}

.payment-section .horizontal-card{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .small-img, .card-body{
        width: 20rem;
        margin: 1rem 0;
    }
    .small-img img{
        width: 100%;
    }
    
    
}

.quantity input{
    width: 2rem;
    margin: 0 1rem;
}

