@import 'variables';
body{
    background-color: #efefef;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,a:visited,a:hover{
    color: #ffffff;
}

.bg-dark0{
    background-color: $dark;
}
.my-container{
    background-color: $primary;
}

.myBorder{
    padding: 1rem 0;
    border-bottom: 3px solid $yellow;
}

button{
    margin: 10px;
}
.btn-prim{
    background-color: $primary;
}
.btn-prim:hover{
    background-color: $dark;
    color: #777;
}

.center-object{
    display: flex;
    justify-content: center;
    align-items: center
}

@import 'navbar';
@import 'home';
@import 'footer';
@import 'payment';
@import 'media_query';
@import 'userProfile';