body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:visited, a:hover {
  color: #ffffff;
}

.bg-dark0 {
  background-color: #292b2c;
}

.my-container {
  background-color: #333446;
}

.myBorder {
  padding: 1rem 0;
  border-bottom: 3px solid #f0ad4e;
}

button {
  margin: 10px;
}

.btn-prim {
  background-color: #333446;
}

.btn-prim:hover {
  background-color: #292b2c;
  color: #777;
}

.center-object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authBtn {
  margin: 0;
  height: 100%;
  padding: 10px 0;
  border-radius: 0;
  width: 50%;
  background-color: #ccc;
  border: 2px solid #ccc;
  border-right: 1px solid #888;
  outline: none;
  color: #444;
}

#exampleModal .modal, #exampleModal .modal-dialog, #exampleModal .modal-content, #exampleModal .modal-header {
  border: none;
}

#exampleModal .modal-header {
  padding: 0;
}

.logbtn {
  margin: 1rem 0;
}

.btn-secondary:focus {
  outline: 0 !important;
}

.btn-secondary:active {
  outline: 0 !important;
}

.navbar-brand {
  position: relative;
}

.logo-underline {
  height: 1rem;
  width: 5rem;
  border: solid 3px #f0ad4e;
  border-radius: 50%;
  border-top: none;
  border-left: none;
  border-right: none;
  position: absolute;
  left: 2.5rem;
  top: 1.5rem;
  -webkit-transform: rotateZ(-5deg);
          transform: rotateZ(-5deg);
}

.home-container {
  min-height: 160vh;
  background-color: #333446;
  background-repeat: repeat;
  background-size: 100%;
  padding: 3em 0;
  color: #ffffff;
}

.carousel-container {
  background-color: #efefef;
  margin-bottom: 3rem;
  max-height: 30em;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333446;
}

.carousel-inner {
  width: 93%;
  position: relative;
  border-radius: 5px;
  height: auto;
}

.carousel-item img {
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.my-container {
  width: 70rem;
  padding: 2rem 5rem;
  background-color: #efefef;
  color: #333446;
  min-height: 30rem;
}

.trending-section {
  background-color: #efefef;
  padding: 2rem;
}

.trending-section h3 {
  color: #121212;
  text-transform: uppercase;
  border-bottom: 1px solid #7d7d7d;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.img-container {
  position: relative;
  height: 15rem;
}

.big-img-container {
  max-height: 30rem;
  position: relative;
}

.big-img-container img {
  max-height: 30rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.event-card .card {
  position: relative;
  display: block;
  -webkit-box-shadow: 0 0 10px 1px #ddd;
          box-shadow: 0 0 10px 1px #ddd;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.event-card .card a, .event-card .card a:visited {
  text-decoration: none;
  color: #121212;
}

.event-card .card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  height: 100%;
}

.event-card .card:hover {
  -webkit-box-shadow: 0 0 20px 5px #bbb;
          box-shadow: 0 0 20px 5px #bbb;
}

.card-body {
  text-align: left;
  padding: 1rem;
}

/* ########################## all events ############################## */
.all-events {
  margin: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.welcome-page {
  height: 70vh;
}

.welcome-page img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

/* ########################## Footer ############################## */
footer {
  background-color: #292b2c;
  color: #ffffff;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media-links {
  /* border: 1px solid red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20rem;
}

.media-link {
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media-link, .fab {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.fab {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.media-link:hover .fab {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.bg-secon {
  background: url("../components/images/bg2.png");
  background-size: 40%;
  background-repeat: repeat;
  min-height: 75vh;
}

.payment-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment-section .card {
  width: 50vw;
  border-top: 5px solid #292b2c;
}

.payment-section .card button {
  margin: 0;
}

.payment-section .horizontal-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.payment-section .horizontal-card .small-img, .payment-section .horizontal-card .card-body {
  width: 20rem;
  margin: 1rem 0;
}

.payment-section .horizontal-card .small-img img {
  width: 100%;
}

.quantity input {
  width: 2rem;
  margin: 0 1rem;
}

@media (max-width: 500px) {
  html {
    font-size: 80%;
  }
  .all-events {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .all-events .card {
    width: 300px;
  }
}

.user-page .container {
  width: 70rem;
}

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-and-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #333446;
  border-radius: 10px;
}

table thead {
  background-color: #333446;
  color: #efefef;
}

td, tr {
  border: 1px solid #aaa;
  padding: 8px 12px;
}

table tr:nth-child(odd) {
  background-color: #ffffff;
}

table thead, table thead tr {
  background-color: #292b2c !important;
}

table tr:nth-child(even) {
  background-color: #cdcdcd;
}
/*# sourceMappingURL=style.css.map */